@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Board Games</h1>
    <br />
    <p class="lead">“When playing a game, the goal is to win, but it is the goal that is important, not the winning.”</p>
    <h2 class="text-right">-Reiner Knizia</h2>
</div>

